.page-header {
  padding: 0;
  z-index: 1000;

  position: -webkit-sticky;
  position: sticky;
  top: -186px;

  &__logo-wrapper {
    border-right: 1px solid $gray-border;
    padding: 1rem 2.5vw 1rem 0;
  }

  &__logo {
    width: 12.5rem;
    height: 3rem;
  }

  &__wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    background-image: url("../img/header_background@1x.jpg");
  }

  &__controls {
    margin: 0 auto;
    width: 100%;
    max-width: $desktop-max-width;
    padding: 3.125rem 2.6vw;
  }

  &__navbar {
    width: 100%;
    max-width: $desktop-max-width;
    margin: 0 auto;
  }

  &__nav-wrapper {
    background-color: $red;
  }

  &__contacts {
    text-align: left;
    padding: 0 0 0 2.5vw;

    h1 {
      font-family: $MontserratBold;
      font-size: 3rem;
      color: $red;
      margin: 0;
    }
  }

  &__contacts-list {
    list-style: none;

    svg {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }

    a {
      text-decoration: none;
      color: $black;
    }

    li {
      margin-right: 1.75rem;
      white-space: nowrap;
    }
  }

  &__nav {
    font-family: $MontserratBold;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  &__nav-item {
    &--logo {
      .page-header__nav-link {
        padding: 0 3.375rem 0 1.5rem !important;
      }
    }

    &--recipe {
      .page-header__nav-link {
        padding: 0 2.75rem 0 2rem !important;
        background-color: $green;
        position: relative;

        svg {
          min-width: 1.5rem;
          max-width: 1.5rem;
          height: 1rem;
          fill: $white;
          margin-right: 0.5rem;
        }

        &::after {
          position: absolute;
          display: block;
          content: '';
          width: 1px;
          height: 2rem;
          background-color: $white;
          top: calc(50% - 1rem);
          right: 0;
        }
      }
    }

    &--shop {
      .page-header__nav-link {
        padding: 0 2.812rem 0 2.125rem !important;
        background-color: $green;

        svg {
          min-width: 1.5rem;
          max-width: 1.5rem;
          height: 1.5rem;
          fill: $white;
          margin-right: 0.5rem;
        }
      }
    }

    &--hide {
      visibility: hidden;
    }
  }

  &__nav-item-logo {
    width: 20.5rem;
    height: 2.688rem;
  }

  &__nav-link {
    display: flex;
    align-items: center;
    color: $white !important;
    position: relative;
    padding: 0 4rem !important;
    white-space: nowrap;
    height: 5rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &--active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__button {
    border: 1px solid $gray-border;
    border-radius: 0 0.75rem 0 0.75rem;
    width: 8.35vw;
    height: 5rem;

    &--recipe {
      svg {
        min-width: 1.5rem;
        max-width: 1.5rem;
        height: 1rem;
        fill: $red;
      }
    }

    &--shop {
      svg {
        min-width: 1.5rem;
        max-width: 1.5rem;
        height: 1.5rem;
        fill: $red;
      }
    }

    span {
      font-family: $MontserratBold;
      margin-left: 0.5rem;
    }

    &:hover {
      background-color: $green;

      svg {
        fill: $white;
      }

      span {
        color: $white;
      }
    }
  }

  &__accent {
    color: $red;
  }

  &__accent:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: 0.1s all;
  }

  .navbar-toggler {
    display: none;
  }

}

@media (max-width: $desktop-max-width - 1) {
  .page-header {
    &__nav {

      justify-content: space-between;

      max-width: 74rem;

    }

    &__nav-item {
      &--logo,
      &--recipe,
      &--shop {
        display: none;
      }
    }
  }
}

@include media-breakpoint-down(xxl) {
  .page-header {
    padding: 0;

    &__wrapper {
      width: 100%;
      box-sizing: border-box;
      margin: 0 auto;
      position: relative;
    }

    &__button {
      width: 10rem;
    }

    &__contacts {
      font-size: 0.75rem;

      h1 {
        font-size: 2rem;
      }
    }

    &__contacts-list {
      li {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .page-header {
    position: unset;
    top: unset;

    &__nav-wrapper {
      background-color: unset;
    }

    &__logo-wrapper {
      border-right: none;
    }

    &__collapse {
      background-color: $red;
    }

    &__nav-link {
      padding: 0 2rem !important;
    }

    &__buttons {
      margin-right: 5.5rem;
    }

    &__nav {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    &__nav-item {
      width: fit-content;
      margin-right: 1rem;
    }

    .navbar {
      position: unset;
    }

    .navbar-toggler {
      display: block;
      position: absolute;
      top: 3.125rem;
      right: 2.6vw;
      width: 5rem;
      height: 5rem;
      border-radius: 0 0.75rem 0 0.75rem;
      background-color: $red;
      border-color: $red;
      padding: 0.25rem;
    }

    .navbar-toggler-icon {
      background-image: url('../img/icons/burger.svg');
      background-size: 1.5rem 1.25rem;
    }

    &__contacts {
      text-align: center;
      padding: 0;
      margin-top: 2rem;
      width: 100%;
    }
  }
}

@include media-breakpoint-down(lg) {
  .page-header {
    .tooltip__target {
      width: 100%;
      margin: 0;
    }

    &__nav-link {
      padding: 0 0.875rem !important;
    }
  }
}

@include media-breakpoint-down(md) {
  .page-header {
    &__controls {
      padding: 0.625rem;
    }

    &__logo-wrapper {
      padding: 0.625rem 0.625rem 0.625rem 0;
    }

    &__logo {
      width: 8.75rem;
      height: 2rem;
    }

    &__buttons {
      margin-right: 3.425rem;
    }

    &__contacts {
      h1 {
        padding: 0 4rem;
      }
    }

    &__contacts-list {
      li:not(:first-child) {
        margin-right: 0;
      }
    }

    &__button {
      width: 3.75rem;
      height: 3.125rem;

      span {
        font-size: 0.75rem;
        margin: 0;
      }

      padding: 0.25rem;
    }

    &__nav {
      padding: 0.5rem;
      justify-content: end;
      flex-direction: column;
    }

    &__nav-link {
      font-size: 0.875rem;
      height: 3rem;

    }

    .navbar-toggler {
      top: 0.625rem;
      right: 0.625rem;
      width: 3.125rem;
      height: 3.125rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .page-header {
    &__wrapper {
      padding-bottom: 2rem;
    }

    &__nav-wrapper {
      position: relative;
    }
  }
}
